{% extends 'index.html' %}
{% load format %}
{% block content %}
	<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable();
<!--					$('.dataTables_paginate').prepend('<i class="fa fa-plus cursor" id="add-button" data-toggle="modal" data-target="#Add_Bin" aria-hidden="true">ADD</i>')-->
                    					$('.dataTables_paginate').prepend('<button class="btn pd" id="add-button" data-toggle="modal" data-target="#Add_Bin" aria-hidden="true">Add</Add></button>')
			} );
	</script>


    <caption><h3 class="header_text">{{object.name}} Delivery Details</h3></caption>
	<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
                        <th>Sl.No</th>
                        <th>Machine No</th>
                        <th>PO number</th>
<!--				        <th>Accessory Name</th>-->
				        <th>Count Delivered</th>
                        {% if request.user.is_superuser %}
                        <th>Actions</th>
                        {% endif %}
            		</tr>
        	</thead>
        	{% if accessories %}
        	<tbody>
    		{% for item in accessories %}
		<tr>
        		<td>{{forloop.counter}}</td>
                <td>{{item.machine_serial_number.serial_no}}</td>
                <td>{{item.purchase_number.order_no}}</td>
<!--                <td>{{item.accessory.name}}</td>-->
                <td>{{item.count_delivered}}</td>
                {% if request.user.is_superuser %}
                <td><i class="fa fa-pencil-square-o cursor" data-toggle="modal" data-target="#Edit_Bin{{item.id}}" aria-hidden="true"></i><i class="fa fa-trash m-l cursor" data-toggle="modal" data-target="#deleteProduct_{{item.id}}" aria-hidden="true"></i></i>
                {% endif %}
</td></a>
	  	</tr>


	{% empty %}
		</tbody>
		<tfoot>
            		<tr>
                        <th>Sl.No</th>
                        <th>Machine No</th>
                        <th>PO number</th>
<!--				        <th>Accessory Name</th>-->
				        <th>Count Delivered</th>
                        {% if request.user.is_superuser %}
                        <th>Actions</th>
                        {% endif %}
            		</tr>
        	</tfoot>
    		<p>No details are available.</p>

{% endfor %}
        <tbody>
            <tr>
           <td colspan="3">Total</td>
            <td colspan="2">{{total}}</td>
            </tr>
        </tbody>

	</table>

	{% endif %}

            <div id="Add_Bin" class="modal fade">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Accessory Deliver Details</h3>
                        </div>
                        <div class="modal-body mdl-bdy">
                              <form role="form" id="inventory1" action="">
                                  {% csrf_token %}
<!--                                <input type="hidden" name="_token" value="">-->
                                  <div class="form-group">
                                      <label class="control-label">Accessory*</label>
                                      <div>
                                          <select class="form-control input-lg" name="accessory">
                                              <option disabled selected value> -- select accessory --
                                              </option>
                                              {% for accessory in all_accessories %}
                                              <option value="{{accessory.id}}">{{accessory.name}}
                                              </option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                  </div>
                                <div class="form-group">
                                      <label class="control-label">PO number*</label>
                                      <div>
                                          <select class="form-control input-lg" id="po-number" name="po-number" onchange="collapse()">
                                              <option disabled selected value> -- select PO number --
                                              </option>
                                              {% for order in orders %}
                                              <option value="{{order.order_no}}">{{order.order_no}}
                                              </option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                  </div>
                                  {% for element in list %}
                                  {% for key, value in element.items %}
                                  <div class="form-group  hidden" id="{{key}}">
                                      <label class="control-label">Machine Number*</label>
                                      <div>
                                          <select class="form-control input-lg" name="machine-no">
                                              <option disabled selected value> -- select machine number --
                                              </option>
                                               {% for item in value %}
                                              <option value="{{item.id}}">{{item.serial_no}}
                                              </option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                  </div>
                                  {% endfor %}
                                  {% endfor %}
<!--                                <div class="form-group">-->
<!--                                    <label class="control-label">Voltage</label>-->
<!--                                    <div>-->
<!--                                        <input type="text" class="form-control input-lg" name="voltage" value="">-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="form-group">
                                    <label class="control-label">Count Delivered</label>
                                    <div>
                                        <input type="number" class="form-control input-lg" name="count_delivered" value="">
                                    </div>
                                </div>
<!--                                <div class="form-group">-->
<!--                                    <label class="control-label">Date of Manufacture</label>-->
<!--                                    <div>-->
<!--                                    <input type="date" value="{{today | date:'Y-m-d' }}" class="form-control input-lg" name="date_of_manufacture">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label class="control-label">Remarks</label>-->
<!--                                    <div>-->
<!--                                        <input type="text" class="form-control input-lg" name="remarks" value="">-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn clr">
                                            ADD
                                        </button>
                                        <button type="submit" class="btn clr" data-dismiss="modal">
                                            CANCEL
                                        </button>
                                    </div>
                                </div>
                                              <div class="error1"></div>
                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
{% for item in accessories %}

	<div id="Edit_Bin{{item.id}}" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">EDIT DELIVERY DETAILS</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory2{{item.id}}" action="">
								  {% csrf_token %}
<!--                                <input type="hidden" name="_token" value="">-->
                                  <div class="form-group">
                                      <label class="control-label">Accessory*</label>
                                      <div>
                                          <select class="form-control input-lg" name="accessory">
                                              <option disabled selected value> -- select accessory --
                                              </option>
                                              {% for accessory in all_accessories %}
                                              <option {% if item.accessory == accessory %} selected {% endif %} value="{{accessory.id}}">{{accessory.name}}
                                              </option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                  </div>
                                <div class="form-group">
                                      <label class="control-label">PO number*</label>
                                      <div>
                                          <select  class="form-control input-lg" id="po-number-2" name="po-number" onchange="collapse_2()">
                                              <option disabled selected value> -- select PO number --
                                              </option>
                                              {% for order in orders %}
                                              <option {% if item.purchase_number == order %}selected {% endif %} value="{{order.order_no}}">{{order.order_no}}
                                              </option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                  </div>
                                  {% for element in list %}
                                  {% for key, value in element.items %}
                                  <div class="present form-group {% ifnotequal key item.purchase_number.order_no|to_str %}hidden{% endifnotequal %}">
                                      <label class="control-label">Machine Number*</label>
                                      <div>
                                          <select  class="form-control input-lg" name="machine-no">
                                              <option disabled selected value> -- select machine number --
                                              </option>
                                               {% for machine in value %}
                                              <option {% if machine.serial_no == item.machine_serial_number.serial_no %} selected {% endif %}  value="{{item.id}}">{{machine.serial_no}}
                                              </option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                  </div>
                                  {% endfor %}
                                  {% endfor %}
<!--                                <div class="form-group">-->
<!--                                    <label class="control-label">Voltage</label>-->
<!--                                    <div>-->
<!--                                        <input type="text" class="form-control input-lg" name="voltage" value="">-->
<!--                                    </div>-->
<!--                                </div>-->
                                {% for element in list %}
                                  {% for key, value in element.items %}
                                  <div class="form-group  hidden" id="{{key}}_">
                                      <label class="control-label">Machine Number*</label>
                                      <div>
                                          <select class="form-control input-lg" name="machine-no">
                                              <option disabled selected value> -- select machine number --
                                              </option>
                                               {% for item in value %}
                                              <option value="{{item.id}}">{{item.serial_no}}
                                              </option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                  </div>
                                  {% endfor %}
                                  {% endfor %}

                                <div class="form-group">
                                    <label class="control-label">Count Delivered</label>
                                    <div>
                                        <input type="number"  class="form-control input-lg" name="count_delivered" value="{{item.count_delivered}}">
                                    </div>
                                </div>
<!--                                <div class="form-group">-->
<!--                                    <label class="control-label">Date of Manufacture</label>-->
<!--                                    <div>-->
<!--                                    <input type="date" value="{{today | date:'Y-m-d' }}" class="form-control input-lg" name="date_of_manufacture">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label class="control-label">Remarks</label>-->
<!--                                    <div>-->
<!--                                        <input type="text" class="form-control input-lg" name="remarks" value="">-->
<!--                                    </div>-->
<!--                                </div>-->
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                UPDATE
                            </button>
                            <button type="submit" class="btn clr" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
								  <div class="error1"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endfor %}

{% for item in items_list %}
<div id="deleteProduct_{{item.id}}" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
				</div>
				<h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these product? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn clr" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn clr" onclick="deleteProduct('{{item.id}}')">Delete</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<script>



$("#inventory1").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-model' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }
               else{
               window.location.href = '{% url 'models' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });


function deleteProduct(id){
      try {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                     location.reload();
              }
           };
          xhr.open('GET', "/delete-model/?id="+id, true);
          xhr.send()
       }
       catch(error) {
         alert(error);
       }

   }

{% for item in items_list %}
$("#inventory2{{item.id}}").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-model' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error').html(response);
               }
               else{
               window.location.href = '{% url 'models' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });

{% endfor %}

function collapse()
{
var input = $("#po-number").val();
{% for item in orders %}
if ('{{item.order_no}}' == input)
{
$("#{{item.order_no}}").removeClass("hidden");
}
else{
$("#{{item.order_no}}").addClass("hidden");
}
{% endfor %}
}


function collapse_2()
{

var input = $("#po-number-2").val();
$(".present").addClass("hidden");
{% for item in orders %}
if ('{{item.order_no}}' == input)
{
$("#{{item.order_no}}_").removeClass("hidden");
}
else{
$("#{{item.order_no}}_").addClass("hidden");
}
{% endfor %}
}

</script>

{% endblock %}
