{% extends 'index.html' %}
{% block content %}
	<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });
            {% if request.user.is_superuser %}
					$('.dataTables_paginate').prepend('<button class="btn pd" id="add-button" data-toggle="modal" data-target="#Track_New_Machine" aria-hidden="true">Track New Machine</Add></button>')
<!--                    $('.dataTables_info').prepend('<a href="{% url 'export_product_purchased_xls' %}"><button id="export" class="btn cursor export" >Export</button></a>')-->
            {% endif %}
			} );
	</script>
    <caption><h3 class="header_text">Device Tracker</h3></caption>

	<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
                        <th>SL.NO</th>
				<th>Machine Serial No</th>
				<th>Purchase Order</th>
				<th>Default Top plate</th>
                <th>Extra Top plate</th>
                <th>Delivery Work Week</th>
                <th>Delivery Status</th>
                <th>Delivery Invoice</th>
                        {% if request.user.is_superuser %}
                <th>Actions</th>
                        {% endif %}
            		</tr>
        	</thead>
        	{% if items_list %}
        	<tbody>
    		{% for item in items_list %}
		<tr>
        		<td>{{forloop.counter}}</td>
            <td>{{ item.serial_no }}</td>
            <td>{{ item.po_number.order_no }}</td>
            <td>{{ item.default_top_plate.name }}</td>
            <td>{{ item.top_plate.name }}</td>
            <td>{{ item.delivery_work_week.work_week }}</td>
            <td>{{ item.get_delivery_status_display }}</td>
            <td>{{ item.get_invoiced_display }}</td>
            {% if request.user.is_superuser %}<td><i class="fa fa-pencil-square-o cursor" data-toggle="modal" data-target="#Edit_Device_Tracking_{{item.id}}" aria-hidden="true"></i><i class="fa fa-trash m-l cursor" data-toggle="modal" data-target="#deleteProduct_{{item.id}}" aria-hidden="true"></i></i>

</td>{% endif %}</a>
	  	</tr>

	{% empty %}
		</tbody>
		<tfoot>
            		<tr>
                <th>SL.NO</th>
				<th>Machine Serial No</th>
				<th>Purchase Order</th>
				<th>Default Top plate</th>
                <th>Extra Top plate</th>
                <th>Delivery Work Week</th>
                <th>Delivery Status</th>
                <th>Delivery Invoice</th>
                        {% if request.user.is_superuser %}
                <th>Actions</th>
                        {% endif %}
            		</tr>
        	</tfoot>
	</table>
    		<p>No details are available.</p>

{% endfor %}


	{% endif %}

	<div id="Track_New_Machine" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Track Device</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory1" action="">
								  {% csrf_token %}
                  <div class="form-group">
                        <label class="control-label">Machine Serial Number*</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="serial" >
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="control-label">Associated Purchase Order*</label>
                        <div>
                            <select name="po-number" class="form-control input-lg">
                                <option disabled selected value> -- select purchase order --</option>
                                {% for order in orders %}
                                <option value="{{order.id}}">{{order.order_no}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                   </div>
                    <div class="form-group">
                        <label class="control-label">Default Top Plate*</label>
                        <div>
                            <select name="default-plate" class="form-control input-lg">
                                <option disabled selected value> -- select top-plate --</option>
                                {% for plate in plates %}
                                <option value="{{plate.id}}">{{plate.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="control-label">Extra Top Plates (If any)</label>
                        <div>
                            <select name="extra-plate" class="form-control input-lg">
                                <option disabled selected value> -- select top-plate --</option>
                                {% for plate in plates %}
                                <option value="{{plate.id}}">{{plate.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Delivery Work Week</label>
                        <div>
                            <select name="week" class="form-control input-lg">
                                <option disabled selected value> -- select work week --</option>
                                {% for week in weeks %}
                                <option value="{{week.id}}">{{week.work_week}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Delivery Status</label>
                        <div>
                           <select name="status" class="form-control input-lg">
                                <option disabled selected value> -- select status --</option>
                                {% for choice in choices_1 %}
                                <option value="{{choice.0}}">{{choice.1}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Invoiced Or Not</label>
                        <div>
                           <select name="bool" class="form-control input-lg">
                                <option disabled selected value> -- select Yes or No --</option>
                                {% for choice in choices %}
                                <option value="{{choice.0}}">{{choice.1}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                START TRACKING
                            </button>
                            <button type="submit" class="btn clr" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
								  <div class="error1"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% for item in items_list %}

	<div id="Edit_Device_Tracking_{{item.id}}" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Tracking</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory2{{item.id}}" action="">
								  {% csrf_token %}
                                  <input type="hidden" name="id" value="{{item.id}}">
                  <div class="form-group">
                        <label class="control-label">Machine Serial Number*</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="serial"
                                   value="{% if item.serial_no %}{{item.serial_no}}{% endif %}">
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="control-label">Associated Purchase Order*</label>
                        <div>
                            <select name="po-number" class="form-control input-lg">
                                <option disabled selected value></option>
                                {% for order in orders %}
                                <option {% if order.id == item.po_number.id %}selected {% endif %}  value="{{order.id}}">{{order.order_no}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                   </div>
                    <div class="form-group">
                        <label class="control-label">Default Top Plate*</label>
                        <div>
                            <select name="default-plate" class="form-control input-lg">
                                <option disabled selected value></option>
                                {% for plate in plates %}
                                <option {% if plate.id == item.default_top_plate.id %}selected {% endif %}  value="{{plate.id}}">{{plate.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="control-label">Extra Top Plates (If any)</label>
                        <div>
                            <select name="extra-plate" class="form-control input-lg">
                                <option disabled selected value></option>
                                {% for plate in plates %}
                                <option {% if plate.id == item.extra_top_plate.id %}selected {% endif %} value="{{plate.id}}">{{plate.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Delivery Work Week</label>
                        <div>
                            <select name="week" class="form-control input-lg">
                                <option disabled selected value></option>
                                {% for week in weeks %}
                                <option {% if week.id == item.delivery_work_week.id %}selected {% endif %}value="{{week.id}}">{{week.work_week}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Delivery Status</label>
                        <div>
                           <select name="status" class="form-control input-lg">
                                <option disabled selected value></option>
                                {% for choice in choices_1 %}
                                <option {% if choice.0 == item.delivery_status %}selected{% endif %} value="{{choice.0}}">{{choice.1}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Invoiced Or Not</label>
                        <div>
                           <select name="bool" class="form-control input-lg">
                                <option disabled selected value></option>
                                {% for choice in choices %}
                                <option {% if choice.0 == item.invoiced %}selected{% endif %} value="{{choice.0}}">{{choice.1}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                UPDATE TRACKING
                            </button>
                            <button type="submit" class="btn clr" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
								  <div class="error2"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endfor %}
{% for item in items_list %}
<div id="deleteProduct_{{item.id}}" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
				</div>
				<h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these product? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" onclick="deleteProduct('{{item.id}}')">Delete</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}


<script>
$("#inventory1").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-device' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }
               else{
               window.location.href = '{% url 'tracker' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });


function deleteProduct(id){
      try {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                     location.reload();
              }
           };
          xhr.open('GET', "/delete-product-purchased/?id="+id, true);
          xhr.send()
       }
       catch(error) {
         alert(error);
       }

   }

function fill()
{
    {% for item in products %}
    var input = $("#part_description").val();
    console.log(input);
    if ('{{item.part_description}}' == String(input)){
    $("#part_name").val('{{item.part_name}}');
    }
    {% endfor %}

}

{% for item in items_list %}
$("#inventory2{{item.id}}").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-device' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error2').html(response);
               }
               else{
               window.location.href = '{% url 'tracker' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });

{% endfor %}

function complete()
{
 var input = $("#part_description").val();
 {% for item in products %}
 if ('{{item.part_description}}' == input)
 {
 $("#total_count").val('{{item.total_count}}');
 $("#part_name").val('{{item.part_name}}');
 $("#available").removeClass('hidden');
 return;
    }
    else{
        $("#available").addClass('hidden');
        }
    {% endfor %}

    }




</script>

{% endblock %}
