{% extends 'index.html' %}
{% block content %}

<!--<div class="jumbotron m-top">-->
<!--<div class="row w-100">-->
<!--        <div class="col-md-3">-->
<!--            <div class="card border-info mx-sm-1 p-3">-->
<!--                <a href="{% url 'product-in' %}">-->
<!--                <div class="text-success text-center mt-3"><h6>Add/Remove Inventory Item</h6></div>-->
<!--                <div class="text-success text-center mt-2"><h1>{{product_in}}</h1></div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <div class="card border-success mx-sm-1 p-3">-->
<!--                <a href="{% url 'product-out' %}">-->
<!--                <div class="text-danger text-center mt-3"><h6>Allocated Inventory</h6></div>-->
<!--                <div class="text-danger text-center mt-2"><h1>{{product_out}}</h1></div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <div class="card border-info mx-sm-1 p-3">-->
<!--                <a href="{% url 'returned' %}">-->
<!--                <div class="text-success text-center mt-3"><h6>INVENTORY RETURN</h6></div>-->
<!--                <div class="text-success text-center mt-2"><h1>{{returned}}</h1></div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <div class="card border-danger mx-sm-1 p-3">-->
<!--                <a href="{% url 'product-purchased' %}">-->
<!--                <div class="text-info text-center mt-3"><h6>Purchase/Add Inventory</h6></div>-->
<!--                <div class="text-info text-center mt-2"><h1>{{purchased}}</h1></div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->

<!--</div>-->
<!--    <div class="row w-100 m-top">-->
<!--        <div class="col-md-4">-->
<!--                <div class="card border-warning mx-sm-1 p-3">-->
<!--                    <a href="{% url 'bin' %}">-->
<!--                    <div class="text-info text-center mt-3"><h6>BIN LOCATIONS</h6></div>-->
<!--                    <div class="text-info text-center mt-2"><h1>{{bin}}</h1></div>-->
<!--                                    </a>-->
<!--                </div>-->
<!--        </div>-->

<!--        <div class="col-md-4">-->
<!--            <div class="card border-warning mx-sm-1 p-3">-->
<!--                                <a href="{% url 'overall' %}">-->
<!--                <div class="text-info text-center mt-3"><h6>Un-allocated Inventory</h6></div>-->
<!--                <div class="text-info text-center mt-2"><h1>{{overall}}</h1></div>-->
<!--                                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div class="card border-info mx-sm-1 p-3">-->
<!--                <a href="{% url 'purchase-request' %}">-->
<!--                <div class="text-success text-center mt-3"><h6>PURCHASE REQUEST</h6></div>-->
<!--                <div class="text-success text-center mt-2"><h1>{{requests}}</h1></div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--</div>-->
<!--</div>-->
{% endblock %}