{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
<div class="wrapper fadeInDown">
  <div id="formContent">
      <!-- Login Form -->
    <form id="login_form">
      {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
      <div class="error1"></div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
        <div>
      <a class="underlineHover" href="{% url 'password_reset' %}">Forgot Password?</a>
        </div>
<!--      New User?<a class="account" href="{% url 'signup' %}">Create Account</a>-->
    </div>

  </div>
</div>

<script>
  	$("#login_form").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'login' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }
               else{
               window.location.href = '{% url 'overall' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });
</script>
{% endblock %}

