{% extends 'index.html' %}
{% block content %}
	<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });
            {% if request.user.is_superuser %}
					$('.dataTables_paginate').prepend('<button class="btn pd" id="add-button" data-toggle="modal" data-target="#Add_Product_Purchased" aria-hidden="true">Add</Add></button>')
                    $('.dataTables_info').prepend('<a href="{% url 'export_product_purchased_xls' %}"><button id="export" class="btn cursor export" >Export</button></a>')
            {% endif %}
			} );
	</script>
    <caption><h3 class="header_text">Add Material To Stock</h3></caption>

	<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
                        <th>SL.NO</th>
				<th>Item Name</th>
				<th>Item Description</th>
				<th>Count</th>
                <th>Vendor</th>
                <th>Purchaser</th>
                <th>Shelf</th>
                <th>Box</th>
                <th>Hole</th>
                <th>Purchased_on</th>
                        {% if request.user.is_superuser %}
                <th>Actions</th>
                        {% endif %}
            		</tr>
        	</thead>
        	{% if items_list %}
        	<tbody>
    		{% for item in items_list %}
		<tr>
        		<td>{{forloop.counter}}</td>
            <td>{{ item.product_purchase.part_name }}</td>
            <td>{{ item.product_purchase.part_description }}</td>
            <td>{{ item.purchase_count }}</td>
            <td>{{ item.vendor_name.name }}</td>
            <td>{{ item.purchaser.first_name }}</td>
            <td>{{ item.location.shelf.name }}</td>
            <td>{{item.location.bin_obj.name}}</td>
            <td>{{item.location.name}}</td>
            <td>{{ item.purchased_on }}</td>
            {% if request.user.is_superuser %}<td><i class="fa fa-pencil-square-o cursor" data-toggle="modal" data-target="#Edit_Product_Purchased_{{item.id}}" aria-hidden="true"></i><i class="fa fa-trash m-l cursor" data-toggle="modal" data-target="#deleteProduct_{{item.id}}" aria-hidden="true"></i></i>

</td>{% endif %}</a>
	  	</tr>

	{% empty %}
		</tbody>
		<tfoot>
            		<tr>
                        <th>SL.NO</th>
				<th>Item Name</th>
				<th>Item Description</th>
				<th>Count</th>
                <th>Vendor</th>
                <th>Purchaser</th>
                <th>Shelf</th>
                <th>Box</th>
                <th>Hole</th>
                <th>Purchased_on</th>
                <th>Actions</th>
            		</tr>
        	</tfoot>
	</table>
    		<p>No details are available.</p>

{% endfor %}


	{% endif %}

	<div id="Add_Product_Purchased" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Purchased Item</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory1" action="">
								  {% csrf_token %}
                  <div class="form-group">
                        <label class="control-label">Item Description</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_description" id="part_description" list="item_descriptions" onchange="complete()">
<!--                                <option disabled selected value> &#45;&#45; select a description &#45;&#45;</option>-->
                            <datalist id="item_descriptions">
                                {% for description in products %}
                                <option value="{{description.part_description}}">{{description.part_description}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="control-label">Item Name</label>
                        <div>
                            <input type="text" id="part_name" class="form-control input-lg" name="part_name">
                        </div>
                   </div>


                    <div class="form-group">
                        <label class="control-label">Count</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="count">
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="control-label">Vendor</label>
                        <div>
                            <select name="vendor" class="form-control input-lg">
                                <option disabled selected value> -- select vendor --</option>
                                {% for vendor in vendors %}
                                <option value="{{vendor.id}}">{{vendor.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Purchaser</label>
                        <div>
                            <select name="purchaser" class="form-control input-lg">
                                <option disabled selected value> -- select a purchaser --</option>
                                {% for user in users %}
                                <option value="{{user.id}}">{{user.first_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Location</label>
                        <div>
                            <select name="hole" class="form-control input-lg">
                                <option disabled selected value> -- select Location --</option>
                                {% for hole in innerholes %}
                                <option value="{{hole.id}}" {% if hole.name == item.location.bin_obj.name %}selected {% endif %}>{{hole.shelf.name}}-->{{hole.bin_obj.name}}-->{{hole.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label">Purchased On</label>
                        <div>
                            <input type="date" value="{{today | date:'Y-m-d' }}" class="form-control input-lg" name="purchased_on">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                ADD
                            </button>
                            <button type="submit" class="btn clr" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
								  <div class="error1"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% for item in items_list %}

	<div id="Edit_Product_Purchased_{{item.id}}" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Purchased</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory2{{item.id}}" action="">
								  {% csrf_token %}
                                  <input type="hidden" value="{{item.id}}" name="id">
<!--                                  <input type="hidden" value="{{item.part_name}}" name="old_part_name">-->
                                  <input type="hidden" value="{{item.product_purchase.part_description}}" name="old_part_description">
                    <div class="form-group">
                        <label class="control-label">Item Description</label>
                        <div>
                            <input readonly="readonly" type="text" class="form-control input-lg" name="part_description" value="{% if item.product_purchase.part_description %}{{item.product_purchase.part_description}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Item Name</label>
                        <div>
                            <input readonly="readonly" type="text" class="form-control input-lg" name="part_name" value="{% if item.product_purchase.part_name %}{{item.product_purchase.part_name}}{% endif %}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Count</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="count" value="{% if item.purchase_count %}{{item.purchase_count}}{% endif %}">
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="control-label">Vendor</label>
                        <div>
                            <select name="vendor" class="form-control input-lg">
                                <option disabled selected value> -- select vendor --</option>
                                {% for vendor in vendors %}
                                <option value="{{vendor.id}}"  {% if vendor.id == item.vendor_name.id %}selected {% endif %}>{{vendor.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Purchaser</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="purchaser" value="{% if item.purchaser %}{{item.purchaser}}{% endif %}">-->
<!--                    </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="control-label">Purchaser</label>
                        <div>
                            <select name="purchaser" class="form-control input-lg">
                                <option disabled selected value> -- select a purchaser --</option>
                                {% for user in users %}
                                <option value="{{user.id}}"  {% if user.id == item.purchaser.id %}selected {% endif %}>{{user.first_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Location</label>
                        <div>
                            <select name="hole" class="form-control input-lg">
                                <option disabled selected value> -- select hole --</option>
                                {% for hole in innerholes %}
                                <option value="{{hole.id}}" {% if hole.name == item.location.name %}selected {% endif %}>{{hole.shelf.name}}-->{{hole.bin_obj.name}}--->{{hole.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Purchased On</label>
                        <div>
                            <input type="date" class="form-control input-lg" name="purchased_on" value="{% if item.purchased_on %}{{item.purchased_on|date:'Y-m-d' }}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                UPDATE
                            </button>
                            <button type="submit" class="btn clr" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
								  <div class="error2"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endfor %}
{% for item in items_list %}
<div id="deleteProduct_{{item.id}}" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
				</div>
				<h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these product? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" onclick="deleteProduct('{{item.id}}')">Delete</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}


<script>
$("#inventory1").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-product-purchased' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }
               else{
               window.location.href = '{% url 'product-purchased' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });


function deleteProduct(id){
      try {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                     location.reload();
              }
           };
          xhr.open('GET', "/delete-product-purchased/?id="+id, true);
          xhr.send()
       }
       catch(error) {
         alert(error);
       }

   }

function fill()
{
    {% for item in products %}
    var input = $("#part_description").val();
    console.log(input);
    if ('{{item.part_description}}' == String(input)){
    $("#part_name").val('{{item.part_name}}');
    }
    {% endfor %}

}

{% for item in items_list %}
$("#inventory2{{item.id}}").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-product-purchased' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error2').html(response);
               }
               else{
               window.location.href = '{% url 'product-purchased' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });

{% endfor %}

function complete()
{
 var input = $("#part_description").val();
 {% for item in products %}
 if ('{{item.part_description}}' == input)
 {
 $("#total_count").val('{{item.total_count}}');
 $("#part_name").val('{{item.part_name}}');
 $("#available").removeClass('hidden');
 return;
    }
    else{
        $("#available").addClass('hidden');
        }
    {% endfor %}

    }




</script>

{% endblock %}
