{% extends 'index.html' %}

{% block content %}
	<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });         {% if request.user.is_superuser %}
					$('.dataTables_paginate').prepend('<button class="btn pd" id="add-button" data-toggle="modal" data-target="#Add_Inventory_Return" aria-hidden="true">Add</Add></button>')
                    $('.dataTables_info').prepend('<a href="{% url 'export_product_returned_xls' %}"><button id="export" class="btn cursor export" >Export</button></a>')
                {% endif %}
			} );
	</script>


                        <caption><h3 class="header_text">Return Materials to Inventory</h3></caption>

	<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
                        <th>SL.NO</th>
				<th>Item Name</th>
				<th>Item Description</th>
				<th>Count Returned</th>
<!--                <th>Returned Team</th>-->
<!--                <th>Returned Person</th>-->
                <th>Returned Date</th>
                        <th>Project</th>
                        {% if request.user.is_superuser %}
                <th>Actions</th>
                        {% endif %}
            		</tr>
        	</thead>
        	{% if items_list %}
        	<tbody>
    		{% for item in items_list %}
		<tr>
        		<td>{{forloop.counter}}</td><td>{{ item.product_returned.part_name }}</td><td>{% if item.product_returned.part_description %}{{ item.product_returned.part_description }}{% endif %}</td><td>{{ item.count_returned }}</td><td>{{item.returned_date}}</td><td>{{item.project.name}}</td>{% if request.user.is_superuser %}<td><i class="fa fa-pencil-square-o cursor" data-toggle="modal" data-target="#Edit_Inventory_Return{{item.id}}" aria-hidden="true"></i><i class="fa fa-trash m-l cursor" data-toggle="modal" data-target="#deleteProduct_{{item.id}}" aria-hidden="true"></i></i>

</td>{% endif %}</a>
	  	</tr>

	{% empty %}
		</tbody>
		<tfoot>
            		<tr>
                <th>SL.NO</th>
				<th>Item Name</th>
				<th>Item Description</th>
				<th>Count Returned</th>
                <th>Returned Team</th>
                <th>Returned Person</th>
                <th>Returned Date</th>
                <th>Project</th>
                        {% if request.user.is_superuser %}
                <th>Actions</th>
                        {% endif %}
		</tr>
        	</tfoot>
	</table>
    		<p>No details are available.</p>

{% endfor %}


	{% endif %}



	<div id="Add_Inventory_Return" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Return Inventory</h3>
            </div>
            <div class="error1"></div>

            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory1" action="">
								  {% csrf_token %}
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Returned from Project</label>
                        <div>
                            <select class="form-control input-lg" name="project" id="project_name">
                                <option disabled selected value> -- select a project --</option>
                                {% for project in projects %}
                                <option value="{{project.name}}" value="{{project.name}}" {% if project.name == item.project.name %}selected {% endif %}>{{project.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Returned from Team</label>-->
<!--                        <div>-->
<!--                            <select class="form-control input-lg" name="team" id="team_name" onchange="dropdown()">-->
<!--                                <option disabled selected value> &#45;&#45; select a team &#45;&#45;</option>-->
<!--                                {% for team in teams %}-->
<!--                                <option value="{{team.name}}" value="{{team.name}}" {% if team.name == item.team.name %}selected {% endif %}>{{team.name}}-->
<!--                                </option>-->
<!--                                {% endfor %}-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group mechanical hidden">-->
<!--                        <label class="control-label">Return from Person</label>-->
<!--                        <div>-->
<!--                            <select class="form-control input-lg" name="person">-->
<!--                                <option disabled selected value> &#45;&#45; select person &#45;&#45;</option>-->
<!--                                {% for user in mechanical_users %}-->
<!--                                <option value="{{user.id}}">{{user.first_name}}-->
<!--                                </option>-->
<!--                                {% endfor %}-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group electronics hidden">-->
<!--                        <label class="control-label">Return from Person</label>-->
<!--                        <div>-->
<!--                            <select class="form-control input-lg" name="person">-->
<!--                                <option disabled selected value> &#45;&#45; select person &#45;&#45;</option>-->
<!--                                {% for user in electronics_users %}-->
<!--                                <option value="{{user.id}}">{{user.first_name}}-->
<!--                                </option>-->
<!--                                {% endfor %}-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group software hidden">-->
<!--                        <label class="control-label">Return from Person</label>-->
<!--                        <div>-->
<!--                            <select class="form-control input-lg" name="person">-->
<!--                                <option disabled selected value> &#45;&#45; select person &#45;&#45;</option>-->
<!--                                {% for user in software_users %}-->
<!--                                <option value="{{user.id}}">{{user.first_name}}-->
<!--                                </option>-->
<!--                                {% endfor %}-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group production hidden">-->
<!--                        <label class="control-label">Return from Person</label>-->
<!--                        <div>-->
<!--                            <select class="form-control input-lg" name="person">-->
<!--                                <option disabled selected value> &#45;&#45; select person &#45;&#45;</option>-->
<!--                                {% for user in production_users %}-->
<!--                                <option value="{{user.id}}">{{user.first_name}}-->
<!--                                </option>-->
<!--                                {% endfor %}-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
                   <div class="form-group">
                        <label class="control-label">Item Description*</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_description" id="part_description" list="item_descriptions" onchange="complete()">
                            <datalist id="item_descriptions">
                                {% for description in products %}
                                <option value="{{description.part_description}}">{{description.part_description}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Item Name</label>
                        <div>
                            <input type="text" id="part_name" class="form-control input-lg" name="part_name" value="" onblur="fill()">
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Item Description</label>-->
<!--                        <div>-->
<!--                            <input type="text" id="part_description" class="form-control input-lg" name="part_description" value="">-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="form-group hidden" id="transferred">
                        <label class="control-label">Transferred Count</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="available_count" id="total_count" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">No.of items Returned</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="count">
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Returned By</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="returned_by">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="control-label">Date of Return</label>
                        <div>
                            <input type="date" value="{{today | date:'Y-m-d' }}" class="form-control input-lg" name="returned_date" onchange="CompareDate()">
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Project</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="project">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                ADD
                            </button>
                            <button type="submit" class="btn clr" data-dismiss="modal">
                                cancel
                            </button>
                        </div>
                    </div>
<!--								  <div class="error1"></div>-->
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% for item in items_list %}

	<div id="Edit_Inventory_Return{{item.id}}" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Return Item</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory2{{item.id}}">
								  {% csrf_token %}
                                  <input type="hidden" name="id" value="{{item.id}}">
                                  <input type="hidden" name="part_name" value="{{item.part_name}}">
                                  <input type="hidden" name="project" value="{{item.project.name}}">
                                  <input type="hidden" name="team" value="{{item.team.name}}">
                                  <input type="hidden" name="person" value="{{item.person.id}}">
                                  <input type="hidden" name="transferred" value="{{item.out_object.count}}">
                                  <input type="hidden" name="count_previous" value="{{item.count_returned}}">
                    <div class="form-group">
                        <label class="control-label">Returned from Project</label>
                        <div>
                            <select class="form-control input-lg" name="project" id="project2_name" disabled>
                                <option disabled selected value> -- select a project --</option>
                                {% for project in projects %}
                                <option value="{{project.name}}" value="{{project.name}}" {% if project.name == item.project.name %}selected {% endif %}>{{project.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Returned from Team</label>
                        <div>
                            <select class="form-control input-lg" name="team" id="team2_name" disabled>
                                <option disabled selected value> -- select a team --</option>
                                {% for team in teams %}
                                <option value="{{team.name}}" value="{{team.name}}" {% if team.name == item.team.name %}selected {% endif %}>{{team.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="dropdown_class">
                        <label class="control-label">Return from Person</label>
                        <div>
                            <select class="form-control input-lg" name="person" disabled>
                                <option disabled selected value> -- select person --</option>
                                {% if item.team.name == "Mechanical" %}
                                {% for user in mechanical_users %}
                                 <option  value="{{user.id}}" {% if user.first_name == item.person.first_name %}selected {% endif %}>{{user.first_name}}
                                </option>
                                {% endfor %}
                                {% endif %}
                                {% if item.team.name == "Electronic" %}
                                {% for user in electronic_users %}
                                 <option  value="{{user.id}}" {% if user.first_name == item.person.first_name %}selected {% endif %}>{{user.first_name}}
                                </option>
                                {% endfor %}
                                {% endif %}
                                {% if item.team.name == "Software" %}
                                {% for user in software_users %}
                                 <option  value="{{user.id}}" {% if user.first_name == item.person.first_name %}selected {% endif %}>{{user.first_name}}
                                </option>
                                {% endfor %}
                                {% endif %}
                                {% if item.team.name == "Production" %}
                                {% for user in production_users %}
                                <option  value="{{user.id}}" {% if user.first_name == item.person.first_name %}selected {% endif %}>{{user.first_name}}
                                </option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Item Name</label>
                        <div>
                            <input readonly="readonly" type="text" class="form-control input-lg" name="part_name" value="{% if item.product_returned.part_description %}{{item.product_returned.part_name}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Item Description</label>
                        <div>
                            <input readonly="readonly" type="text" class="form-control input-lg" name="part_description" value="{% if item.product_returned.part_description %}{{item.product_returned.part_description}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group" id="transferred2">
                        <label class="control-label">Transferred Count</label>
                        <div>
                            <input type="number" value="{{item.out_object.out_count}}" class="form-control input-lg" name="available_count" id="total_count2" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Count Returned</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="count" value="{% if item.count_returned %}{{item.count_returned}}{% endif %}">
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Returned By</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="returned_by" value="{% if item.returned_by %}{{item.returned_by}}{% endif %}">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="control-label">Returned Date</label>
                        <div>
                            <input type="date" class="form-control input-lg" name="returned_date" value="{% if item.returned_date %}{{item.returned_date | date:'Y-m-d'}}{% endif %}">
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Project</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="project" value="{% if item.project %}{{item.project}}{% endif %}">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                UPDATE
                            </button>
                            <button type="submit" class="btn clr" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
								  <div class="error2"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endfor %}

{% for item in items_list %}
<div id="deleteProduct_{{item.id}}" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
				</div>
				<h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these product? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" onclick="deleteProduct('{{item.id}}')">Delete</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<script>



$("#inventory1").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-inventory-return' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }
               else{
               window.location.href = '{% url 'returned' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });


function deleteProduct(id){
      try {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                     location.reload();
              }
           };
          xhr.open('GET', "/delete-inventory-return/?id="+id, true);
          xhr.send()
       }
       catch(error) {
         alert(error);
       }

   }

{% for item in items_list %}
$("#inventory2{{item.id}}").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-inventory-return' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error2').html(response);
               }
               else{
               window.location.href = '{% url 'returned' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });

{% endfor %}

function fill()
{
    var input = $("#part_name").val();
    var team_name = $("#team_name").val();
    var project_name = $("#project_name").val();
    console.log(input,team_name,project_name);
    {% for item in products_out %}
    console.log('{{item.team.name}}');
    console.log('{{item.part_name}}');
    console.log('{{item.project.name}}');
    console.log('{{item.recieved_date}}');
    if ('{{item.part_name}}' == input && '{{item.team.name}}' == team_name && '{{item.project.name}}' == project_name)
    {
    $("#total_count").val('{{item.count}}');
    $("#total_count2").val('{{item.count}}');
    $("#part_description").val('{{item.part_description}}')
    $("#transferred").removeClass('hidden');
    return;
    }
<!--    else{-->
<!--        $("#transferred").addClass('hidden');-->
<!--        response = "There is no such item in transferred list";-->
<!--         $('.error1').html(response);-->
<!--        }-->
<!--    {% empty %}-->
<!--    $("#transferred").addClass('hidden');-->
<!--        response = "There is no such item in transferred list";-->
<!--         $('.error1').html(response);-->
    {% endfor %}

}

function dropdown()
{
    var input = $("#team_name").val();
    alert(input);
     if (input == "Mechanical"){
    $(".mechanical").removeClass("hidden");
    $(".electronics").addClass("hidden");
    $(".software").addClass("hidden");
    $(".production").addClass("hidden");
    }
    if (input == "Electronics"){
    $(".mechanical").addClass("hidden");
    $(".electronics").removeClass("hidden");
    $(".software").addClass("hidden");
    $(".production").addClass("hidden");
    }
    if (input == "Software"){
    $(".mechanical").addClass("hidden");
    $(".electronics").addClass("hidden");
    $(".software").removeClass("hidden");
    $(".production").addClass("hidden");
    }
    if (input == "Production"){
     $(".mechanical").addClass("hidden");
    $(".electronics").addClass("hidden");
    $(".software").addClass("hidden");
    $(".production").removeClass("hidden");
    }
}

function complete()
{
    var input = $("#part_description").val();
<!--    var team_name = $("#team_name").val();-->
    var project_name = $("#project_name").val();
    {% for item in products_out %}
    if ('{{item.product_out.part_description}}' == input &&  '{{item.project.name}}' == project_name)
    {
    $("#total_count").val('{{item.out_count}}');
    $("#total_count2").val('{{item.out_count}}');
    $("#part_name").val('{{item.product_out.part_name}}')
    $("#transferred").removeClass('hidden');
    return;
    }
<!--    else{-->
<!--        $("#transferred").addClass('hidden');-->
<!--        response = "There is no such item in transferred list";-->
<!--         $('.error1').html(response);-->
<!--        }-->
<!--    {% empty %}-->
<!--    $("#transferred").addClass('hidden');-->
<!--        response = "There is no such item in transferred list";-->
<!--         $('.error1').html(response);-->
    {% endfor %}

}
</script>

{% endblock %}
