{% extends 'index.html' %}
{% load format %}
{% load mathfilters %}
{% block content %}
    <caption><h3 class="header_text">Out-of Stock Materials for {{project}}</h3></caption>
    <caption><h6 class="header_text">Total Count Ordered from all PO's In Progress:{{count}}</h6></caption>
	<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
                <th>SL.NO</th>
				<th>Item Name</th>
				<th>Item Description</th>
                <th>Available Count in Inventory</th>
                <th>Total allocated for in-progress PO's</th>
                <th>Required Count for Fulfillment of all PO's</th>
                <th>Shortage(if any)</th>
                <th>Remarks</th>
<!--                <th>Need to purchase?</th>-->
                </tr>
        	</thead>
        	{% if items_list %}
        	<tbody>
    		{% for item in items_list %}
		<tr>
            <td>{{forloop.counter}}</td>
            <td>{{ item.name }}</td>
			<td>{% if item.description %}{{ item.description }}{% endif %}</td>
			<td>{{item.available}}</td>
            <td>{{item.allocated}}</td>
			<td>{{item.required}}</td>
            <td>{{item.shortage}}</td>
            <td>{% if item.remarks %}{{ item.remarks }}{% endif %}</td>
        </tr>

	{% empty %}
		</tbody>
		<tfoot>
            		<tr>
				<th>SL.NO</th>
				<th>Item Name</th>
				<th>Item Description</th>
                <th>Available Count in Inventory</th>
                <th>Total allocated for in-progress PO</th>
                <th>Required Count for Fulfillment of all PO's</th>
                <th>Shortage(if any)</th>
                <th>Remarks</th>
            		</tr>
        	</tfoot>
	</table>
    		<p>No details are available.</p>

{% endfor %}



	{% endif %}


<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });
<!--					$('.dataTables_paginate').prepend('<i class="fa fa-plus cursor" id="add-button" data-toggle="modal" data-target="#Add_Product_Out" aria-hidden="true">ADD</i>')-->
                    $('.dataTables_info').prepend('<a href="{% url 'export_product_overall_xls' %}"><button id="export" class="btn cursor export" >Export</button></a>')

			} );

	</script>

{% endblock %}
