{% extends 'index.html' %}
{% block content %}
	<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });
            {% if request.user.is_superuser %}
					$('.dataTables_paginate').prepend('<button class="btn pd" id="add-button" data-toggle="modal" data-target="#Add_Purchase_Order" aria-hidden="true">Add</Add></button>')
<!--                    $('.dataTables_info').prepend('<a href="{% url 'export_product_purchased_xls' %}"><button id="export" class="btn cursor export" >Export</button></a>')-->
            {% endif %}
			} );
	</script>
    <caption><h3 class="header_text">Purchase Orders</h3></caption>

	<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
                        <th>SL.NO</th>
				<th>Order Number</th>
				<th>Ordered Count</th>
				<th>Destination</th>
                <th>Device</th>
                <th>Total Delivered</th>
                        {% if request.user.is_superuser %}
                <th>Actions</th>
                        {% endif %}
            		</tr>
        	</thead>
        	{% if items_list %}
        	<tbody>
    		{% for item in items_list %}
		<tr>
        		<td>{{forloop.counter}}</td>
            <td>{{ item.order_no }}</td>
            <td>{{ item.ordered_count }}</td>
            <td>{{ item.destination }}</td>
            <td>{{ item.device }}</td>
            <td>{{ item.total_delivered }}</td>
            {% if request.user.is_superuser %}<td><i class="fa fa-pencil-square-o cursor" data-toggle="modal" data-target="#Edit_Purchase_Order_{{item.id}}" aria-hidden="true"></i><i class="fa fa-trash m-l cursor" data-toggle="modal" data-target="#deleteProduct_{{item.id}}" aria-hidden="true"></i></i>

</td>{% endif %}</a>
	  	</tr>

	{% empty %}
		</tbody>
		<tfoot>
            		<tr>
                <th>SL.NO</th>
				<th>Order Number</th>
				<th>Ordered Count</th>
				<th>Destination</th>
                <th>Device</th>
                <th>Total Delivered</th>
                        {% if request.is_superuser %}
                <th>Actions</th>
                        {% endif %}
            		</tr>
        	</tfoot>
	</table>
    		<p>No details are available.</p>

{% endfor %}


	{% endif %}

	<div id="Add_Purchase_Order" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Purchase Order</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory1" action="">
								  {% csrf_token %}
                  <div class="form-group">
                        <label class="control-label">Order Number</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="order_number" >
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="control-label">Ordered Count</label>
                        <div>
                            <input type="text" id="part_name" class="form-control input-lg" name="count">
                        </div>
                   </div>
                    <div class="form-group">
                        <label class="control-label">Destination</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="destination">
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="control-label">Device</label>
                        <div>
                            <select name="project" class="form-control input-lg">
                                <option disabled selected value> -- select device --</option>
                                {% for project in projects %}
                                <option value="{{project.id}}">{{project.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label">Order Placed On</label>
                        <div>
                            <input type="date" value="{{today | date:'Y-m-d' }}" class="form-control input-lg" name="placed_on">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                PLACE ORDER
                            </button>
                            <button type="submit" class="btn clr" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
								  <div class="error1"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% for item in items_list %}

	<div id="Edit_Purchase_Order_{{item.id}}" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Purchase Order</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory2{{item.id}}" action="">
								  {% csrf_token %}
                                  <input type="hidden" value="{{item.id}}" name="id">
<!--                                  <input type="hidden" value="{{item.part_name}}" name="old_part_name">-->
                    <div class="form-group">
                        <label class="control-label">Order Number</label>
                        <div>
                            <input  type="text" class="form-control input-lg" name="order_number"
                                    value="{% if item.order_number %}{{item.order_no}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ordered Count</label>
                        <div>
                            <input  type="number" class="form-control input-lg" name="count" value="{% if item.ordered_count %}{{item.ordered_count}}{% endif %}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Destination</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="destination" value="{% if item.destination %}{{item.destination}}{% endif %}">
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="control-label">Device</label>
                        <div>
                            <select name="project" class="form-control input-lg">
                                <option disabled selected value> -- select device --</option>
                                {% for project in projects %}
                                <option value="{{project.id}}"  {% if project.id == item.device.id %}selected {% endif %}>{{project.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Order Placed On</label>
                        <div>
                            <input type="date" class="form-control input-lg" name="placed" value="{% if item.placed_on %}{{item.placed_on|date:'Y-m-d' }}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                UPDATE
                            </button>
                            <button type="submit" class="btn clr" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
								  <div class="error2"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endfor %}
{% for item in items_list %}
<div id="deleteProduct_{{item.id}}" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
				</div>
				<h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these product? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" onclick="deleteProduct('{{item.id}}')">Delete</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}


<script>
$("#inventory1").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-device-order' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }
               else{
               window.location.href = '{% url 'orders' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });


function deleteProduct(id){
      try {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                     location.reload();
              }
           };
          xhr.open('GET', "/delete-product-purchased/?id="+id, true);
          xhr.send()
       }
       catch(error) {
         alert(error);
       }

   }

function fill()
{
    {% for item in products %}
    var input = $("#part_description").val();
    console.log(input);
    if ('{{item.part_description}}' == String(input)){
    $("#part_name").val('{{item.part_name}}');
    }
    {% endfor %}

}

{% for item in items_list %}
$("#inventory2{{item.id}}").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-device-order' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error2').html(response);
               }
               else{
               window.location.href = '{% url 'orders' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });

{% endfor %}

function complete()
{
 var input = $("#part_description").val();
 {% for item in products %}
 if ('{{item.part_description}}' == input)
 {
 $("#total_count").val('{{item.total_count}}');
 $("#part_name").val('{{item.part_name}}');
 $("#available").removeClass('hidden');
 return;
    }
    else{
        $("#available").addClass('hidden');
        }
    {% endfor %}

    }




</script>

{% endblock %}
